{% extends 'base.html' %}
{% load my_tags %}


{% block content %}

<div class="section">
    <div class="container">
        <div class="title">Каталог <span class="quantity_of_products">{{quantity_of_products}}</span></div>
        <div class="catalog">
            <div class="filter">
                <div class="filter_inner">

                    <form action="{% url 'catalog' %}" method="GET">

                        {% csrf_token %}

                        {% for group in groups_with_features %}

                        <div class="filter_item">
                            <div class="filter_title">
                                {{group.name}}
                            </div>

                            <div class="filter_input">

                                {% for feature in group.features %}

                                {% if feature.link in filter_params %}

                                <input checked id="{{feature.link}}" type="checkbox" name="filter_items"
                                    value="{{feature.link}}">
                                <label for="{{feature.link}}">{{feature.name}}</label>

                                {% else %}

                                <input id="{{feature.link}}" type="checkbox" name="filter_items"
                                    value="{{feature.link}}">
                                <label for="{{feature.link}}">{{feature.name}}</label>

                                {% endif %}

                                {% endfor %}

                            </div>
                        </div>

                        {% endfor %}

                        <div class="filter_button_block">
                            <button type="submit" class="filter_button">Подобрать</button>
                            <!-- <input type="submit" class="filter_button" value="подобрать"> -->
                        </div>
                        <div class="clean_filter_block">
                            <a href="{% url 'catalog' %}"><span class="clean_filter_btn">очистить фильтр</span></a>
                        </div>

                    </form>

                </div>



            </div>
            <div class="goods">
                <div class="products">

                    {% if not products %}

                    <span><b>По Вашим критериям ничего не найдено, пожалуйста, укажите другие параметры
                            поиска</b></span>

                    {% endif %}

                    {% for product in products %}

                    <div class="product_item">
                        <div class="product_name">
                            {{product.name}}
                        </div>

                        <div class="product_details">

                            <div class="product_detail_inner">

                                {% for feature in product.features_link.all|dictsort:"name" %}

                                <div class="detail_item">
                                    <div class="detail_title">
                                        {{feature.feature_group.name}}
                                    </div>
                                    <div class="detail_info">
                                        {{feature.name}}
                                    </div>
                                </div>

                                {% endfor %}

                            </div>

                            <div class="product_info">

                                <div class="product_info_item">
                                    <div class="product_info_title">
                                        На складе, {{product.unit_of_measurement}}
                                    </div>
                                    <div class="product_info_content">
                                        {{product.balance | floatformat}}
                                    </div>
                                </div>

                                <div class="product_info_item">
                                    <div class="product_info_title">
                                        Цена, р.
                                    </div>
                                    <div class="product_info_content">
                                        {{product.price | floatformat}}
                                    </div>
                                </div>

                                <div class="product_info_item">
                                    <div class="product_button">оставить заявку</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>

                {% if is_paginated %}

                <div class="pagination">  

                    {% if previous_page_number %}
                    <a href="?{% param_replace page=previous_page_number %}"><div class="page next_prev_page prev"></div></a>
                    {% endif %}

                    {% for n in products.paginator.page_range %}

                    {% if products.number == n %}

                    <a href="?{% param_replace page=n %}"><div class="page page--active">
                        {{ n }}
                    </div></a>

                    {% elif n > products.number|add:-5 and n < products.number|add:5 %}

                    <a href="?{% param_replace page=n %}">
                    <div class="page">
                            {{ n }}
                    </div></a>

                    {% endif %}
                    {% endfor %}

                    {% if next_page_number %}
                    <!-- <a href="{% param_replace %}{{ next_url }}"><div class="page next_prev_page next"></div></a> -->
                    <a href="?{% param_replace page=next_page_number %}"><div class="page next_prev_page next"></div></a>
                    {% endif %}

                </div>

                {% endif %}

            </div>
            <!--goods-->
        </div>
        <!--catalog-->
    </div>
</div>
<!--section-->

{% endblock %}