{% extends 'base.html' %}
{% load my_tags %}


{% block content %}

<div class="section">
    <div class="container">
        <div class="title">О проекте</div>

        <div class="information_inner">
            <div class="information_content">
                <div class="info_title">Основная задача данного интернет-ресурса - обеспечить актуальную информацию о ценах
                    характеристиках и реальных остатках металлопродукции для удобства наших покупателей!</div>

                <div class="information_advs">
                    <div class="information_advs_item">
                        <div class="information_advs_img"><img src="https://via.placeholder.com/400x300" alt=""></div>
                        <div class="information_advs_content">
                            <div class="information_advs_title">Удобная фильтрация в каталоге</div>
                            <div class="information_advs_text">Каждая продукция имеет множество свойств и атрибутов. Для
                                облегчения поиска нужного металлопроката
                                присутствует удобный фильтр.
                            </div>
                        </div>
                    </div>
                    <div class="information_advs_item information_advs_item--reverse">
                        <div class="information_advs_img"><img src="https://via.placeholder.com/400x300" alt=""></div>
                        <div class="information_advs_content information_advs_content--reverse">
                            <div class="information_advs_title">Каталог содержит более 300 наименований</div>
                            <div class="information_advs_text">Мы постоянно наращиваем обороты реазлиации тонколистового металлопроката. Вы можете выбрать продукцию из множества видов покрытий, толщин и производителей. 
                            </div>
                        </div>
                    </div>
                    <div class="information_advs_item">
                        <div class="information_advs_img"><img src="https://via.placeholder.com/400x300" alt=""></div>
                        <div class="information_advs_content">
                            <div class="information_advs_title">Подробная информация</div>
                            <div class="information_advs_text">Информация о продукции тщательно проверяется на достоверность. Вы можете ознакомиться со всеми свойствами стали перед покупкой. А также получить соответствующие сертификаты качества.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}