<div class="section">
            <div class="title">также Наши проекты</div>
    </div>

    <div class="section">
        <div class="container">
            <div class="projects">
                
                <div class="projects_item">
                    <div class="projects_inner">
                        <div class="projects_img">
                                <img src="https://via.placeholder.com/200x200" alt="">
                                <div class="projects_text">
                                    VDKONLINE.RU
                                </div>
                        </div>
                    </div>
                        <div class="projects_info">
                                <div class="projects_name">Всё для кровли</div>
                                <div class="projects_prof">Магазин кровельных материалов. Всё что нужно для Вашего дома!</div>
                        </div>
                </div>

                <div class="projects_item">
                    <div class="projects_inner">
                        <div class="projects_img">
                                <img src="https://via.placeholder.com/200x200" alt="">
                                <div class="projects_text">
                                    UZAB.RU
                                </div>
                        </div>
                    </div>
                        <div class="projects_info">
                                <div class="projects_name">Удачный Забор!</div>
                                <div class="projects_prof">Евроштакетник по низким цена. Доставка по всей стране!</div>
                        </div>
                </div>


                <div class="projects_item">
                    <div class="projects_inner">
                        <div class="projects_img">
                                <img src="https://via.placeholder.com/200x200" alt="">
                                <div class="projects_text">
                                    ГРЯДКИ.РУС
                                </div>
                        </div>
                    </div>
                        <div class="projects_info">
                                <div class="projects_name">Дачные грядки</div>
                                <div class="projects_prof">Металлические грядки для Вашего сада!</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>